.topNubex {
  position: fixed;
  right: 60px;
  bottom:60px;
  transform: rotate(90deg);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  display: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
}